* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 50px;
}

.list-todo {
  margin-top: 20px;
  list-style: none;
}

.todo span {
  cursor: pointer;
  color: red;
}
